* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';

}

html,
body {
    height: 100%;
    width: 100%;

}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}

#nav {
    height: 80px;
    width: 100%;
    /* background: #000; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

}

#nav h2 {
    width: 22%;
    /* background-color: aquamarine; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 22px;
    font-weight: 600;
}

#nav h1 {
    font-family: "Monument";
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    letter-spacing: -2px;
}

#nav h2:nth-last-child(1) {
    width: 10%;
}
#nav h2:nth-last-child(2) {
    width: 29%;
}
#center{
    padding: 40px;
    /* background: red; */
}
#center #content{
    position: relative;
}
#center #content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
#overlay{
    height: 52%;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: 3vw;
    color:#fff;
    /* background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px); */
     
}
#overlay #over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#over1 {
    font-size: 3.6vw;
    font-family: monument;
}
#over1 h2{
    font-size: 3.6vw;
    color: white;
    /* mix-blend-mode:multiply; */
}
#over1 h3{
    font-size: 2vw;
    /* mix-blend-mode: difference; */
    padding: 15px;
    margin: 5px;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
}

#over1 i{
    font-size: 3.6vw;
    font-family: monument;
}
#over2 {
    font-size: 1vw;
    color: white;
    padding: 2vw;
    /* background-color: aqua; */
    }

#over2 h4{
font-size: 1vw;
}
#overlay  #over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space:nowrap;
    overflow-x: hidden;
    overflow-y: hidden;

}
#container{
    height:100%;
    width: 110%;
    /* background-color: coral; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime {
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}
#scroll img{
    height:100%;
    width: 15%;
    margin: 1vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
#alphabet{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    height: 11vh;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    /* background-color: orangered; */
    padding: 0.6vw;
    /* color: white; */
    border-radius: 50%;
    height: 2.5vw;
    width: 2.5vw;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0);
    letter-spacing: 4px;
    cursor: pointer;
    transition: all 0.2;
}
#alphabet h6:hover{
 
    border: 1px solid black;
    
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw; 
}
#page2-part1{
    height: 100%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/12235264/pexels-photo-12235264.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
#page2-part2{
    height: 100%;
    width: 46%;

}
#page2-part2 img{
    width:  100%;
    height: 60%;
    object-fit: cover;
}
#page2-part2 #peragraph{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 4vh;
    width: 100%;
    height: 40%;
}
#page2-part2 #peragraph p{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#page3{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#page3 img{
    animation-name: rotate;
    
}
#page #video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    
}

#page3 video{
    width: 100%;
    height: 100%;

}
@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}